<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Weekly Eats</title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag 'foundation.css', :media => 'screen' %>
	<%= stylesheet_link_tag 'app.css', :media => 'screen' %>
	

	<!--[if lt IE 9]>
		<%= stylesheet_link_tag 'ie.css', :media => 'screen' %>
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
	<![endif]-->

</head>
<body>	

		<!-- container -->
		<div class="container">

			<div class="row">
				<div class="eight columns centered">
					<br><br><br>
					<%= image_tag "foundation/custom_images/logo.png", :alt => "Weekly Eats" %>
					<br><br><br>
					<%= image_tag "foundation/custom_images/tagline.png", :alt => "Tagline" %>
					
					<br><br><br><br><br>
					

			<!-- FACEBOOK CONNECT CODE -->		
			<div id="fb-root"></div>
		      <script>
		        window.fbAsyncInit = function() {
		          FB.init({
		            appId      : '270750379638433',
		            status     : true, 
		            cookie     : true,
		            xfbml      : true
		          });
		        };
		        (function(d){
		           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		           js = d.createElement('script'); js.id = id; js.async = true;
		           js.src = "//connect.facebook.net/en_US/all.js";
		           d.getElementsByTagName('head')[0].appendChild(js);
		         }(document));
		      </script>			
		
			  <!-- <div class="fb-login-button" data-perms="email,user_checkins">
			        Login with Facebook
			      </div>		
			  -->
				<a href=setup.html>
					<%= image_tag "foundation/custom_images/facebookConnect.png", :alt => "Facebook Connect", :align => "right" %>
				</a>
					
					<br><br><br>
				</div>
			</div>


	<!-- Included JS Files -->
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
	
</body>
</html>
