<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Weekly Eats</title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag 'foundation', :media => 'screen' %>
	<%= stylesheet_link_tag 'app.css', :media => 'screen' %>
	

	<!--[if lt IE 9]>
		<%= stylesheet_link_tag 'ie.css', :media => 'screen' %>
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
	<![endif]-->

</head>
<body>
	
	<!-- Included JS Files -->
	<%= javascript_include_tag 'foundation.js' %>
	<%= javascript_include_tag 'app.js' %>>

		<!-- container -->
		<div class="container">

			<!-- HEADER CODE -->
			<div class="row">
				<div class="four columns">
					<br>
					<%= image_tag "foundation/custom_images/logo.png", :alt => "Weekly Eats"%>
					<br><br><br>
				</div>
			</div>
	

			<div class="row">
				<div class="ten columns centered">
					<div class="panel" align=center>

						<%= render :partial=>'shared/nav_links' %>
						
						<br><br>
				
						<h2>We've found you <%= @recipes.length %> great meals!</h2>  
						
						<h3>Pick the ones you want and lets go shopping.</h3>
						<br>
						
						
            <%=  render @recipes %>
            
            <div id="recipe_X" class="row white" align=center style="display: none;">
              <div class="two columns">
                <%= image_tag "recipes/recipeX.jpg" %>
              </div>
	            <div class="eight columns">
	              <a href="recipe.html">
	                <h4 align="left">
	                  Sloppy Joes
                  </h4>
                </a>
	              <p align="left">
	                In a medium skillet over medium heat, brown the ground beef, onion, and green pepper; drain off liquids.
        Stir in the garlic powder, mustard, ketchup, and brown sugar; mix thoroughly. Reduce heat, and simmer for 30 minutes. Season with salt and pepper.
	              </p>
	            </div>
              <%= render :partial=>"recipes/accept_reject_buttons" %>
            </div>
					</div>					
				</div>
		</div>
		
		
</body>
</html>
