<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Weekly Eats</title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag 'foundation.css', :media => 'screen' %>
	<%= stylesheet_link_tag 'app.css', :media => 'screen' %>
	

	<!--[if lt IE 9]>
		<%= stylesheet_link_tag 'ie.css', :media => 'screen' %>
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
	<![endif]-->

</head>
<body>
	
	<!-- Included JS Files -->
	<%= javascript_include_tag 'foundation.js' %>
	<%= javascript_include_tag 'app.js' %>
	
		<!-- container -->
		<div class="container">

			<!-- HEADER CODE -->
			<div class="row">
				<div class="four columns">
					<br>
					<%= image_tag "foundation/custom_images/logo.png", :alt => "Weekly Eats"%>
					<br><br><br>
				</div>
			</div>
	

			<div class="row">
				<div class="ten columns centered">
					<div class="panel" align=center>

						<!-- NAVIGATION PANEL -->
						<%= link_to(image_tag("foundation/custom_images/RecipeInactiveButton.png", :alt => "Recipes"), :action => "main") %>
						
						<%= link_to(image_tag("foundation/custom_images/ShoppingActiveButton.png", :alt => "Shopping"), :action => "shopping") %>
						
						<%= link_to(image_tag("foundation/custom_images/StatsInactiveButton.png", :alt => "Stats"), :action => "stats") %>
						
						<br><br>
				  
						<h3>Time to fill the Pantry</h3><br>
						
						<!-- LIST OF SHOPPING CART ITEMS -->

						<form align="left" font-size="18px">
						<input type="checkbox" name="vehicle" value="Bike" /> I have a bike<br />
						<input type="checkbox" name="vehicle" value="Car" /> I have a car 
						</form>
						</div>
						
						
						
						
					</div>					
				</div>
			
		</div>


	
</body>
</html>
