<div id="recipe_<%= recipe.id %>" class="row white" align=center>
  <div class="two columns">
    <%= image_tag "recipes/"+recipe.picture_path %>
  </div>
	<div class="eight columns">
	  
	    <h4 align="left">
		<%= link_to recipe.name, "recipes/#{recipe.id}"%>
      </h4>
    </a>
	  <p align="left"><%=recipe.directions%></p>
	</div>
  <%= render :partial=>"recipes/accept_reject_buttons" %>
</div>
